
.container-check {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 22px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}
    
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #000;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-check-grid {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 37px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}
    
.checkmark-grid, .checkmark-grid-active {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #ddd;
    color: #aaa;
 }

 .checkmark-grid-active {
    border-color: #00bfff;
    color: #000;
 }

.container-check input,
.container-check-grid input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkmark:after,
.checkmark-grid:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container-check input:checked ~ .checkmark:after {
    display: block;
}
  
.container-check .checkmark:after {
    margin-left: 2px;
    margin-top: 2px;
    width: 10px;
    height: 10px;
    background-color: #00bfff;
}

.line-check {
    display: flex;    
    font-size: 15px;
    font-weight: 300;
}

.line-check label {
    margin-top: 3px;
}


.check-drop {
    animation-name: checkDrop;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

@keyframes checkDrop {
    from {
      display: block;    
      margin-top: -25px;
    }
    to {
      display: flex;    
      font-size: 15px;
      font-weight: 300;
    }
}

