
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-inline: 10%;
}

header img:nth-child(2) {
    width: 20px;
    height: 20px;
}

.line-header {
    border-bottom: 1px solid #999;
}

.body-clothers {
    font-family: 'Open Sans', sans-serif;
    margin-inline: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.text-clothers {
    font-size: 33px;
    font-weight: 400;
}

.text-filter {
    margin-top: 30px;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: 400;
}

.text-ver-cores {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300px;
    margin-top: 10px;
    color: #666;
    border-bottom: 1px solid;
    line-height: 12px;
    cursor: pointer;
    max-width: 116px;
}

.arrow-down, .arrow-up {
    margin-left: 7px;
    margin-bottom: 3px;
    height: 4px;
    width: 4px;
    border: solid #888;
    border-width: 0 0 1px 1px;
    transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-45deg);
}

.text-tamanhos {
    margin-top: 50px;
}
