
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-inline: 10%;
}

header img:nth-child(2) {
    width: 20px;
    height: 20px;
}

.line-header {
    border-bottom: 1px solid #999;
}

.body-clothes {
    font-family: 'Open Sans', sans-serif;
    margin-inline: 10%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1280px) {
    header, .body-clothes {
        margin-inline: 7%;            
    }
}

@media (max-width: 1050px) {
    header, .body-clothes {
        margin-inline: 10%;            
    }
}

@media (max-width: 900px) {
    header, .body-clothes {
        margin-inline: 7%;            
    }
}

@media (max-width: 770px) {
 
    
}