
.filters {
    margin-right: 0;
}

.text-clothers {
    font-size: 33px;
    font-weight: 400;
}

.text-colors, .text-sizes,
.text-prices {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.text-ver-cores {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 300px;
    margin-top: 10px;
    color: #666;
    border-bottom: 1px solid;
    line-height: 12px;
    cursor: pointer;
    max-width: 116px;
}

.arrow-down, .arrow-up {
    margin-left: 7px;
    margin-bottom: 3px;
    height: 4px;
    width: 4px;
    border: solid #888;
    border-width: 0 0 1px 1px;
    transform: rotate(135deg);
}

.arrow-up {
    transform: rotate(-45deg);
}

.text-sizes {
    margin-top: 45px;
}

.text-prices {
    margin-top: 40px;
}
