
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    margin-inline: 10%;
}

header div img, .h-cart {
    width: 20px;
    height: 20px;
}

.block-cart {
    display: flex;
    margin-right: 15px;
}

.h-cart {  
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    border-radius: 75%;
    background-color: #00bfff;
    margin-left: 12px;
    margin-top: 7px;
}

.h-cart a {
    margin-right: 0.8px;
}

.line-header {
    border-bottom: 1px solid #999;
}

.body-clothes {
    font-family: 'Open Sans', sans-serif;
    margin-inline: 10%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.hide {
    display: none;
}


@media (max-width: 1280px) {
    header, .body-clothes {
        margin-inline: 7%;            
    }
}

@media (max-width: 1050px) {
    header, .body-clothes {
        margin-inline: 10%;            
    }
}

@media (max-width: 900px) {
    header, .body-clothes {
        margin-inline: 7%;            
    }
}

@media (max-width: 770px) {
 
    .b-left {
        display: none;
    }

    .body-clothes {
        justify-content: center;
    }
}